.container {
  
    padding: 10px;
    font-family: "inter";
  
    
    .card-header {
      .infobutton {
        background-color: #323232;
        color: #f5c519;
        border: none;
        border-radius: 20px;
      }
    }
    .card-group {
      
      border-radius: 20px;
      box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      .card {
       padding: 10px;
        border: none;
        .card-img {
          object-fit:cover;
          
          max-width: 100%;
          height: 300px;
          
        }
      }
    }
  }
  