<section class="container vh-20 w-70 ms-0 ">
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="container"> 
      <div class="card-header mb-5">
        <button class="infobutton px-4 py-2">Filmden Kareler</button>
      </div>
      <div class="card-group" >
        <div class="row" >
          <div class="card col-12 col-sm-4 col-lg-2" *ngFor="let image of movieItems?.images">     
            <img [src]='image.src' class="card-img" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
</section>