<style>

    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@600&display=swap");
  </style>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-logo" href="#">
        <img
          src="../../assets/images/2503508.png"
          alt="logo"
          style="height: 50px; width: 50px"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-list">
          <li class="nav-item">
            <a class="nav-link" href="#">Filmler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vizyondaki Filmler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pek Yakında</a>
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2 rounded-pill"
            type="search"
            placeholder="Film veya dizi arayın"
            aria-label="Search"
          />
        </form>
        <ul class="navbar-nav navbar-list">
          <li class="nav-item">
            <a class="nav-link" href="#">Diziler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TV Dizileri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Platform Dizileri</a>
          </li>
        </ul>
        <button class="navbar-login">Giriş Yap / Kayıt Ol</button>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-top"
      tabindex="-1"
      id="offcanvasTop"
      aria-labelledby="offcanvasTopLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body"></div>
    </div>
  </nav>

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@600&display=swap");
</style>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-logo" href="#">
      <img
        src="../../assets/images/2503508.png"
        alt="logo"
        style="height: 50px; width: 50px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-list">
        <li class="nav-item" *ngFor="let item of HeaderItems.navigationLeft">
          <a class="nav-link" [href]="item.link">{{ item.label }}</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2 rounded-pill"
          type="search"
          placeholder=" Film veya dizi arayın"
          aria-label="Search"
        />
      </form>
      <ul class="navbar-nav navbar-list">
        <li class="nav-item" *ngFor="let item of HeaderItems.navigationRight">
          <a class="nav-link" [href]="item.link">{{ item.label }}</a>
        </li>
      </ul>
      <a [href]="item.link" *ngFor="let item of HeaderItems.buttonItems">
        <button class="navbar-login">{{ item.label }}</button></a
      >
    </div>
  </div>
</nav>

