.container{
    .card-header {
        .infobutton {
          background-color: #323232;
          color: #f5c519;
          border: none;
          border-radius: 20px;
        }
      }
    
    .row{
        .radiuss{
            border-radius: 20px;
      box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        }
        .img {
            margin: 10px;
            max-width: 100%;
            height: auto; 
            border-radius: 8px;
            border: 4px solid #EFEFEF;
        }
        .info{
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            
        }
        .like-button{
            color: red;
            margin: 10px;
            
            
            text-align: right;
            
            
        }
        
    }
}