.container-fluid{
    .row{
        flex-direction: column;
        align-items: center;
        .movieContent {
            background-color: #202020;
            padding: 24px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            h1{
                color: #F5C519;
                font-size: 18px;
            }
            .content{
            padding: 8px;
            margin-bottom: 30px;
            display: flex;
            border: 1px solid #645E5E;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
                transition: 0.3s;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            }
            h1 {
                font-size: 18px;
                color: #D9D9D9;
            }
            }
            .movieImg {
                img {
                    height: 128px;
                    width: 128px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .movieText {
                padding: 20px;

                .movieStars {
                    img {
                        width: 128px;
                    }
                }
            }

        }
        .movieType{
        background-color: #202020;
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1{
            color: #F5C519;
            font-size: 18px;     
        }
        .type {
            display: flex;
            ul {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                font-size: 18px;
                color: #D9D9D9;
                margin-bottom: 5px;
                margin-right: 20px; 
            }
            }
        
            
        }
        }
        .lastestComment{
            
            background-color: bisque;
        }
    }

    
}