
  
  <section class="container vh-20 w-70 ms-0 " >
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
      
      <div class="card-header mb-5 my-2">
        <button class="infobutton px-4 py-2">Oynadığı diğer filmler</button>
      </div>
      <div class="card-group px-3 py-2 mx-3 my-2" >
        <div class="row my-2 " >
          <div class="card col-12 col-sm-4 col-lg-2 " *ngFor="let content of contentcard">
            <a href="/movies-detail/{{content.movieID}}">
            <img [src]="content.thumbnail" class="card-img" alt="..." />
          </a>
            <button class="play-icon" style="background-color: transparent;">
                <i class="fas fa-play"></i> 
            </button>
            <div class="card-body">
              <h5 class="card-title">{{content.movieName}}</h5>
            </div>
         
          </div>
        </div>
      </div>
    </div>
    
      </div>
      <div class="col-1"></div>

    
    
  </section>
  