.container {
    h2 {
        font-size: 24px;
        text-align: center;
    }

    .carousel-inner {
        .carousel-item {
            .row {
                .customCol {
                    position: relative;
                    transition: filter 0.3s ease-in-out;
                    cursor: pointer;
                    overflow: hidden;
                }

                .customCol img {
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                    filter: brightness(100%);
                    transition: filter 0.3s ease-in-out;
                }

                .customCol .image-caption {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(0, 0, 0, 0.7);
                    color: #fff;

                    padding: 10px;
                    text-align: center;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                .customCol:hover {
                    filter: brightness(80%);

                }

                .customCol:hover .image-caption {
                    opacity: 1;
                }

            }
        }
    }
}