
<div class="container-fluid">
    <div class="row bigScreen d-none d-lg-flex col-3">
        <div class="movieContent">
            <h1>En çok tıklananlar</h1>
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>
    
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>

        </div>

        <div class="movieType">
            <h1>Film Türleri</h1>
            <div class="row">
                <div class="type col-6">
                    <ul>
                        <li>Aile Filmleri</li>
                        <li>Aksiyon Filmleri</li>
                        <li>Animasyon Filmleri</li>
                        <li>Belgeseller</li>
                        <li>Bilim Kurgu Filmleri</li>
                        <li>Blu Ray Filmler</li>    
                        <li>Çizgi Filmler</li>
                        <li>Dram Filmleri</li>
                        <li>Savaş Filmleri</li>
                        <li>Fantastik Filmler</li>
                        <li>Gerilim Filmleri</li>
                        <li>Gizem Filmleri</li>
                        <li>Hint Filmleri</li>
                    </ul>
                </div>
                <div class="type col-6">
                    <ul>
                        <li>Korku Filmleri</li>
                        <li>Macera Filmleri</li>
                        <li>Müzikal Filmler</li>
                        <li>Polisiye Filmleri</li>
                        <li>Psikolojik Filmler</li>
                        <li>Romantik Filmler</li>
                        <li>Suç Filmleri</li>
                        <li>Tarih Filmleri</li>
                        <li>Western Filmler</li>
                        <li>Yerli Filmler</li>
                        <li>Komedi Filmleri</li>
                    </ul>
                </div>
            </div>
                
        </div>

        <div class="lastestComment">
            <h1>Son Yorumlar</h1>
            <div class="content col-12">
                <div class="userImg">
                    <img src="../../../../../assets/images/profile.png" alt="userImg">
                </div>
                <div class="userComment">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </h1>
                </div>
    
            </div>
            


        </div>
    </div>

    <div class="smallSreen row d-flex d-lg-none">
        <div class="movieContent col-4">
            <h1>En çok tıklananlar  lgden küçük</h1>
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>
    
            <div class="content col-12">
                <div class="movieImg">
                    <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
                </div>
                <div class="movieText">
                    <h1>Shawshank Redemption</h1>
                </div>
    
            </div>

        </div>

        <div class="movieType col-4">
                <h1>En çok tıklananlar</h1>
                <div class="type">
                    <ul>
                        <li>Aile Filmleri</li>
                        <li>Aksiyon Filmleri</li>
                        <li>Animasyon Filmleri</li>
                        <li>Belgeseller</li>
                        <li>Bilim Kurgu Filmleri</li>
                        <li>Blu Ray Filmler</li>    
                        <li>Çizgi Filmler</li>
                        <li>Dram Filmleri</li>
                        <li>Savaş Filmleri</li>
                        <li>Fantastik Filmler</li>
                        <li>Gerilim Filmleri</li>
                        <li>Gizem Filmleri</li>
                        <li>Hint Filmleri</li>
                    </ul>
                </div>
                <div class="type">
                    <ul>
                        <li>Korku Filmleri</li>
                        <li>Macera Filmleri</li>
                        <li>Müzikal Filmler</li>
                        <li>Polisiye Filmleri</li>
                        <li>Psikolojik Filmler</li>
                        <li>Romantik Filmler</li>
                        <li>Suç Filmleri</li>
                        <li>Tarih Filmleri</li>
                        <li>Western Filmler</li>
                        <li>Yerli Filmler</li>
                        <li>Komedi Filmleri</li>
                    </ul>
                </div>
        </div>

        <div class="lastestComment col-4">
            <h1>lastestComment</h1>
        </div>
    </div>

    

</div>