<!-- <div class="container-fluid">
    <img class="backGround" src="../../assets/banner.jpg" alt="bannerImg">
    <div class="back">
        arkaplan
    </div>

</div> -->
    <div class="background">
    <div class="container">
      <div class="image-container">
        <img class="solBanner" src="../../assets/bannerSol.jpg" alt="solBanner">
      </div>
      <div class="login-container">
        <h1>GİRİŞ YAP</h1>
        <div class="email">
            <h2>E-mail</h2>
        <input type="text" placeholder="E-mail">
        </div>
        <div class="password">
            <h2>Şifre</h2>
        <input type="password" placeholder="Şifre">
        </div>
        
        <button>Giriş Yap</button> 
        <h3 class="joinus">HALA BİZE KATILMADIN MI?   BİZE KATIL!</h3>
      </div>
      
    </div>
  </div>
