<div class="container">
    <div class="card-header mb-5">
      <button class="infobutton px-4 py-2">Oynadığı diğer diziler</button>
    </div>
    <div class="card-group">
      <div class="row">
        <div class="card col-12 col-sm-4 col-lg-2 ">
          <img src="assets/images/oyuncu.jpg" class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">Necati Şaşmaz</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src="assets/images/oyuncu.jpg" class="card-img" alt="..." />
          
  
          <div class="card-body">
            <h5 class="card-title">Necati Şaşmaz</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src="assets/images/oyuncu.jpg" class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">Necati Şaşmaz</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src="assets/images/oyuncu.jpg" class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">Necati Şaşmaz</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src="assets/images/oyuncu.jpg" class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">Necati Şaşmaz</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src="assets/images/oyuncu.jpg" class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">Necati Şaşmaz</h5>
          </div>
        </div>
      </div>
    </div>
  </div>