
 
  <section class="container vh-20 w-70 ms-0 ">
    <div class="row" >
      <div class="col-1"></div>
      <div class="col-10">
      <div class="card-header mb-5">
      <button class="infobutton px-4 py-2">Oynadığı diğer diziler</button>
    </div>
    <div class="card-group mb-3">
      <div class="row"*ngFor="let actor of images">
        <div class="card col-12 col-sm-4 col-lg-2 ">
          <img src={{actor.img}} class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">{{actor.name}}</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src={{actor.img}} class="card-img" alt="..." />
          
  
          <div class="card-body">
            <h5 class="card-title">{{actor.name}}</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src={{actor.img}} class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">{{actor.name}}</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src={{actor.img}} class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">{{actor.name}}</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src={{actor.img}} class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">{{actor.name}}</h5>
          </div>
        </div>
        <div class="card col-12 col-sm-4 col-lg-2">
          <img src={{actor.img}} class="card-img" alt="..." />
          
          <div class="card-body">
            <h5 class="card-title">{{actor.name}}</h5>
          </div>
        </div>
      </div>
    </div>
      </div>
      <div class="col-1"></div>

    </div>
    
  </section>
 
