<div class="container  py-5">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex flex-start w-100">
            <i
              class="fas fa-user rounded-circle shadow-1-strong me-3 "
              style="color: #f5c519; font-size: 60px " 
            ></i>
            <div class="w-100">

              <div class="form-outline">
                <div class="form-outline">
                    <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                    <label class="form-label" for="textAreaExample">Yorum yazınız</label>
                </div>
              </div>
              <div class="btn1 mt-3">
                <button type="button" class="btn">
                  Yorum <i class="fas fa-long-arrow-alt-right ms-1"></i>
                </button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="container-divider my-5 "></div>
    </div>
    
  </div>
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body p-4">
          <h4 class="com mb-0 mb-4 pb-2">Önceki yorumlar</h4>
          

          <div class="d-flex flex-start">
            <i
              class="fas fa-user rounded-circle shadow-1-strong me-3"
              style="color: #f5c519;   font-size: 60px"
            ></i>
            <div>
                <h6 class="fw-bold mb-1">Nihat Zaman</h6>

              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it.
              </p>
              <div class="deneme">
                <p class="mb-0">
                  
                  March 30, 2021
                  <a href="#!" class="link-muted"
                    ><i class="fas fa-heart ms-2"></i
                  ></a>
                </p>
              </div>
              
            </div>
            
          </div>
        </div>

        

        <div class="card-body p-4">
          <div class="d-flex flex-start">
            <i
              class="fas fa-user rounded-circle shadow-1-strong me-3"
              style="color: #f5c519;   font-size: 60px"
            ></i>
            <div>
              <h6 class="fw-bold mb-1">Nihat Zaman</h6>

              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it.
              </p>
              <div class="deneme">
                <p class="mb-0">
                  
                  March 30, 2021
                  <a href="#!" class="link-muted"
                    ><i class="fas fa-heart ms-2"></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>

        

        <div class="card-body p-4">
          <div class="d-flex flex-start">
            <i
              class="fas fa-user rounded-circle shadow-1-strong me-3"
              style="color: #f5c519;   font-size: 60px"
            ></i>
            <div>
              <h6 class="fw-bold mb-1">Nihat Zaman</h6>

              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it.
              </p>
              <div class="deneme">
                <p class="mb-0">
                  
                  March 30, 2021
                  <a href="#!" class="link-muted"
                    ><i class="fas fa-heart ms-2"></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>

        

        <div class="card-body p-4">
          <div class="d-flex flex-start">
            <i
              class="fas fa-user rounded-circle shadow-1-strong me-3"
              style="color: #f5c519;   font-size: 60px"
            ></i>
            <div>
              <h6 class="fw-bold mb-1">Nihat Zaman</h6>
              <div class="d-flex align-items-center mb-3"></div>
              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it.
              </p>
              <div class="deneme">
                <p class="mb-0">
                  
                  March 30, 2021
                  <a href="#!" class="link-muted"
                    ><i class="fas fa-heart ms-2"></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
