<div class="container-fluid">
    <div class="contextButton">
        <div class="title">
            <h2>Vizyondaki Filmler</h2>
            <h2>➜</h2>
        </div>

    </div>

    <div class="row">
        <div class="content col-12">
            <div class="movieImg">
                <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
            </div>
            <div class="movieText">
                <h1>Shawshank Redemption</h1>
                <h2>1994 2h 22m</h2>
                <div class="movieStars">
                    <img src="../../../../../assets/images/stars.png" alt="starsImg">
                </div>
            </div>

        </div>

        <div class="content col-12">
            <div class="movieImg">
                <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
            </div>
            <div class="movieText">
                <h1>Shawshank Redemption</h1>
                <h2>1994 2h 22m</h2>
                <div class="movieStars">
                    <img src="../../../../../assets/images/stars.png" alt="starsImg">
                </div>
            </div>

        </div>

        <div class="content col-12">
            <div class="movieImg">
                <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
            </div>
            <div class="movieText">
                <h1>Shawshank Redemption</h1>
                <h2>1994 2h 22m</h2>
                <div class="movieStars">
                    <img src="../../../../../assets/images/stars.png" alt="starsImg">
                </div>
            </div>

        </div>

        <div class="content col-12">
            <div class="movieImg">
                <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
            </div>
            <div class="movieText">
                <h1>Shawshank Redemption</h1>
                <h2>1994 2h 22m</h2>
                <div class="movieStars">
                    <img src="../../../../../assets/images/stars.png" alt="starsImg">
                </div>
            </div>

        </div>

        <div class="content col-12">
            <div class="movieImg">
                <img src="../../../../../assets/images/shawshank-redemption.jpg" alt="movieImg">
            </div>
            <div class="movieText">
                <h1>Shawshank Redemption</h1>
                <h2>1994 2h 22m</h2>
                <div class="movieStars">
                    <img src="../../../../../assets/images/stars.png" alt="starsImg">
                </div>
            </div>

        </div>

    </div>
</div>