
.container-fluid{
    background-color: #323232;
    

    .logo{
        display: block;
        width: 50px;
        height: 50px;
    }
    a{
        text-decoration: none;
        
    }
    .text{
        color: #FFFFFF;
        font-size: smaller;
    }
    .text-uppercase{
        color: #F5C519;
        font-size: smaller;
    }
    .btn{
        background-color: #F5C519;
    }
}


  