
<div class="container">
    <footer class=" text-center text-lg-start ">
        <div class="text-center p-3 d-flex justify-content-between align-items-center">
            <img src="assets/images/2503508.png" alt="Logo" class="logo">

            <div class="pt-4">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn1 text-white m-1" href="#!"><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn1 text-white m-1" href="#!"><i class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn1 text-white m-1" href="#!"><i class="fab fa-google"></i></a>
                </section>

            </div>
        </div>

        <div class="p-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">Filmler</h5>

                    <ul class="list-unstyled mb-4">
                        <li>
                            <a href="#!" class="text-white">Top 100</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">En iyi Filmler</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Vizyondaki Filmler</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Pek yakında</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">Diziler</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white">Top 100</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">En iyi Diziler</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">TV Dizileri</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Platform Dizileri</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4 ">Legal</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Terms of Use</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text mb-4">En son çıkan film ve dizilerden ilk siz haberdar olun</h5>

                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="form5Example2">Email address</label>
                        <input type="email" id="form5Example2" class="form-control" />

                    </div>

                    <button type="submit" class="btn btn-outline-white btn-block">Subscribe</button>
                </div>

            </div>

        </div>


        <!-- Copyright -->
        <div class="text-center p-3 border-top border-white">
            © 2023 Copyright:
            <a class="text-white" href="https://reji.com/">reji.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>