<section class="vh-20 w-100 my-5">
  <div class="container">
    <div class="card mb-3">
      <div class="card-header mb-5">
        <button class="infobutton px-4 py-2">Oyuncu</button>
      </div>
      <div class="row no-gutters py-4">
        <div class="col-md-4">
          <img
            src="https://www.cumhuriyet.com.tr/Archive/2023/4/5/122321794-cinq-choses-que-vous-ne-saviez-p.jpg"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Margot Robbie</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <ul>
              <li>
                Dogum:
                <span>19.08.2000</span>
              </li>
              <li>
                Boy:
                <span>19.08.2000</span>
              </li>
              <li>
                Esi:
                <span>19.08.2000</span>
              </li>
              <li>
                Kardesleri:
                <span>19.08.2000</span>
              </li>
              <li>
                Ebeveynleri:
                <span>19.08.2000</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
