.card-body > h5 {
  text-align: center;
}
.card-header > .infobutton {
  background-color: #323232;
  color: #f5c519;
  border: none;
  border-radius: 20px;
}
.card-header {
  background-color: inherit;
  border: none;
}
.card {
  border: none;
}
.row {
  border-radius: 20px;
  padding: 10px;

  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  
}
ul > li {
  list-style-type: none;
  font-weight: 400;
}
ul > li > span {
  font-weight: 600;
}
